body {
    background-color: black;
    color: white;
}

textarea, input {
    background-color: black;
    color: #55ff55;
    font-family: monospace;
}

form, label, input, textarea { float:left; }

.container {
    float:left;
    overflow:hidden;
    padding:10px;
}
